// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Content wrap
@mixin content-wrap {
	padding-left: $spacing__default-sm;
	padding-right: $spacing__default-sm;

	@media screen and (min-width: 600px) { 
		padding-left: $spacing__default-md;
		padding-right: $spacing__default-md;
		max-width: 150ch;
	}

	@media screen and (min-width: 1100px) { 
		padding-left: $spacing__default-lg;
		padding-right: $spacing__default-lg;
		margin: 0 auto;
		max-width: 150ch;
	}
}

@mixin entry-content {
	padding-left: $spacing__content-sm;
	padding-right: $spacing__content-sm;

	@media screen and (min-width: 600px) { 
		padding-left: $spacing__content-md;
		padding-right: $spacing__content-md;
	}

	@media screen and (min-width: 1100px) { 
		padding-left: $spacing__content-lg;
		padding-right: $spacing__content-lg;
		margin: 0 auto;
		max-width: 150ch;
	}
}