$spacing__default-lg: 5.875rem; 
$spacing__default-md: 2rem;
$spacing__default-sm: 1rem;

$spacing__content-lg: 10rem;
$spacing__content-md: 1rem;
$spacing__content-sm: 0rem;

$spacing__total-lg: $spacing__content-lg + $spacing__default-lg;
$spacing__total-md: $spacing__content-md + $spacing__default-md;
$spacing__total-sm: $spacing__content-sm + $spacing__default-sm;