// stylelint-disable value-keyword-case
$font__main: latoregular, "Helvetica Neue", sans-serif;
$font__bold: latoblack, "Helvetica Neue", sans-serif;
$font__title: latoblack, "Helvetica Neue", sans-serif;
$font__semibold: latosemibold, "Helvetica Neue", sans-serif;
$font__thin: latothin, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: latoregular, "Helvetica Neue", sans-serif;
$font__pre: latoregular, "Helvetica Neue", sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
