/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@font-face {
	font-family: 'latoblack';
	src: url("fonts/lato-black-webfont.woff2") format("woff2"), url("fonts/lato-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoregular';
	src: url("fonts/lato-regular-webfont.woff2") format("woff2"), url("fonts/lato-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latosemibold';
	src: url("fonts/lato-semibold-webfont.woff2") format("woff2"), url("fonts/lato-semibold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latothin';
	src: url("fonts/lato-thin-webfont.woff2") format("woff2"), url("fonts/lato-thin-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body .editor-styles-wrapper {
	overflow-x: hidden;
	background: #DFF2FC;
	/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
	/*button[role="tab"] {
	background: #92dcdd;
	&:hover, 
	&:active,
	&:focus,
	&[aria-selected="true"] {
		background: #30bb9c;
	}
}*/
	/* Make sure embeds and iframes fit their containers. */
	/*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/
	color: #000;
	font-family: latoregular, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	/*--------------------------------------------------------------
	# Media
	--------------------------------------------------------------*/
	/* Make sure logo link wraps around logo image. */
	/*--------------------------------------------------------------
	# General
	--------------------------------------------------------------*/
	/* Normalize
	--------------------------------------------- */
	/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
	/* Document
	 ========================================================================== */
	/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
	/* Sections
	 ========================================================================== */
	/**
 * Remove the margin in all browsers.
 */
	/**
 * Render the `main` element consistently in IE.
 */
	/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
	/* Grouping content
	 ========================================================================== */
	/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
	/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
	/* Text-level semantics
	 ========================================================================== */
	/**
 * Remove the gray background on active links in IE 10.
 */
	/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
	/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
	/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
	/**
 * Add the correct font size in all browsers.
 */
	/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
	/* Embedded content
	 ========================================================================== */
	/**
 * Remove the border on images inside links in IE 10.
 */
	/* Forms
	 ========================================================================== */
	/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
	/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
	/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
	/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
	/**
 * Remove the inner border and padding in Firefox.
 */
	/**
 * Restore the focus styles unset by the previous rule.
 */
	/*button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}*/
	/**
 * Correct the padding in Firefox.
 */
	/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
	/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
	/**
 * Remove the default vertical scrollbar in IE 10+.
 */
	/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
	/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
	/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
	/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
	/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
	/* Interactive
	 ========================================================================== */
	/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
	/*
 * Add the correct display in all browsers.
 */
	/* Misc
	 ========================================================================== */
	/**
 * Add the correct display in IE 10+.
 */
	/**
 * Add the correct display in IE 10.
 */
	/* Box sizing
	--------------------------------------------- */
	/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	/*--------------------------------------------------------------
	# Utilities
	--------------------------------------------------------------*/
	/* Accessibility
	--------------------------------------------- */
	/* Text meant only for screen readers. */
	/* Do not show the outline on the skip link target. */
	/* Alignments
	--------------------------------------------- */
	/* Blocks
	--------------------------------------------- */
	/* General Utilities
	--------------------------------------------- */
}

body .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

body .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper::before {
	content: '';
	position: absolute;
	width: 64%;
	border-top: 1.5px solid #2A5B7A;
	top: calc(50% - -2px);
	height: 2em;
}

body .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper h1 {
	text-align: center;
	font-family: latoblack, "Helvetica Neue", sans-serif;
	font-size: 2.5em;
	color: #000;
	display: inline-block;
	padding: 0 0.5em;
	background-color: #DFF2FC;
}

body .editor-styles-wrapper .wp-block-quote {
	border-left: none;
	padding-left: 0;
}

body .editor-styles-wrapper button,
body .editor-styles-wrapper input[type="button"],
body .editor-styles-wrapper input[type="reset"],
body .editor-styles-wrapper input[type="submit"],
body .editor-styles-wrapper .wp-block-button__link {
	border: 1.5px solid;
	border-color: #2A5B7A;
	border-radius: 2px;
	background: #fff;
	color: #2A5B7A;
	font-family: latosemibold, "Helvetica Neue", sans-serif;
	line-height: 1;
	padding: 10px 16px;
	cursor: pointer;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	box-sizing: border-box;
}

body .editor-styles-wrapper button:hover, body .editor-styles-wrapper button:active, body .editor-styles-wrapper button:focus, body .editor-styles-wrapper button[aria-selected="true"],
body .editor-styles-wrapper input[type="button"]:hover,
body .editor-styles-wrapper input[type="button"]:active,
body .editor-styles-wrapper input[type="button"]:focus,
body .editor-styles-wrapper input[type="button"][aria-selected="true"],
body .editor-styles-wrapper input[type="reset"]:hover,
body .editor-styles-wrapper input[type="reset"]:active,
body .editor-styles-wrapper input[type="reset"]:focus,
body .editor-styles-wrapper input[type="reset"][aria-selected="true"],
body .editor-styles-wrapper input[type="submit"]:hover,
body .editor-styles-wrapper input[type="submit"]:active,
body .editor-styles-wrapper input[type="submit"]:focus,
body .editor-styles-wrapper input[type="submit"][aria-selected="true"],
body .editor-styles-wrapper .wp-block-button__link:hover,
body .editor-styles-wrapper .wp-block-button__link:active,
body .editor-styles-wrapper .wp-block-button__link:focus,
body .editor-styles-wrapper .wp-block-button__link[aria-selected="true"] {
	border-right: 1px solid #2A5B7A;
	border-left: 1px solid #2A5B7A;
	padding: 10px 16.75px;
	padding-top: 10.5px;
	color: #2A5B7A;
	border-top: 1px solid #2A5B7A;
	background: #CAE7F6;
}

body .editor-styles-wrapper button:visited,
body .editor-styles-wrapper input[type="button"]:visited,
body .editor-styles-wrapper input[type="reset"]:visited,
body .editor-styles-wrapper input[type="submit"]:visited,
body .editor-styles-wrapper .wp-block-button__link:visited {
	color: #2A5B7A;
}

body .editor-styles-wrapper input[type="button"].outline,
body .editor-styles-wrapper input[type="reset"].outline,
body .editor-styles-wrapper input[type="submit"].outline,
body .editor-styles-wrapper button.outline,
body .editor-styles-wrapper .is-style-outline .wp-block-button__link {
	background: #2A5B7A !important;
	color: #DFF2FC !important;
	border: 1.5px solid #2A5B7A;
}

body .editor-styles-wrapper input[type="button"].outline:hover, body .editor-styles-wrapper input[type="button"].outline:active, body .editor-styles-wrapper input[type="button"].outline:focus, body .editor-styles-wrapper input[type="button"].outline[aria-selected="true"],
body .editor-styles-wrapper input[type="reset"].outline:hover,
body .editor-styles-wrapper input[type="reset"].outline:active,
body .editor-styles-wrapper input[type="reset"].outline:focus,
body .editor-styles-wrapper input[type="reset"].outline[aria-selected="true"],
body .editor-styles-wrapper input[type="submit"].outline:hover,
body .editor-styles-wrapper input[type="submit"].outline:active,
body .editor-styles-wrapper input[type="submit"].outline:focus,
body .editor-styles-wrapper input[type="submit"].outline[aria-selected="true"],
body .editor-styles-wrapper button.outline:hover,
body .editor-styles-wrapper button.outline:active,
body .editor-styles-wrapper button.outline:focus,
body .editor-styles-wrapper button.outline[aria-selected="true"],
body .editor-styles-wrapper .is-style-outline .wp-block-button__link:hover,
body .editor-styles-wrapper .is-style-outline .wp-block-button__link:active,
body .editor-styles-wrapper .is-style-outline .wp-block-button__link:focus,
body .editor-styles-wrapper .is-style-outline .wp-block-button__link[aria-selected="true"] {
	color: #DFF2FC !important;
	border-right: 1px solid #143C56;
	border-left: 1px solid #143C56;
	margin-right: 1px;
	color: #2A5B7A;
	border-top: 1px solid #2A5B7A;
	background: #143C56 !important;
}

body .editor-styles-wrapper input[type="button"].cta,
body .editor-styles-wrapper input[type="reset"].cta,
body .editor-styles-wrapper input[type="submit"].cta,
body .editor-styles-wrapper button.cta,
body .editor-styles-wrapper .is-style-cta .wp-block-button__link {
	border-color: #CE677D;
	background: #F1879D;
	color: white;
	text-shadow: #960423 0px 0px 8px;
}

body .editor-styles-wrapper input[type="button"].cta:hover, body .editor-styles-wrapper input[type="button"].cta:active, body .editor-styles-wrapper input[type="button"].cta:focus, body .editor-styles-wrapper input[type="button"].cta[aria-selected="true"],
body .editor-styles-wrapper input[type="reset"].cta:hover,
body .editor-styles-wrapper input[type="reset"].cta:active,
body .editor-styles-wrapper input[type="reset"].cta:focus,
body .editor-styles-wrapper input[type="reset"].cta[aria-selected="true"],
body .editor-styles-wrapper input[type="submit"].cta:hover,
body .editor-styles-wrapper input[type="submit"].cta:active,
body .editor-styles-wrapper input[type="submit"].cta:focus,
body .editor-styles-wrapper input[type="submit"].cta[aria-selected="true"],
body .editor-styles-wrapper button.cta:hover,
body .editor-styles-wrapper button.cta:active,
body .editor-styles-wrapper button.cta:focus,
body .editor-styles-wrapper button.cta[aria-selected="true"],
body .editor-styles-wrapper .is-style-cta .wp-block-button__link:hover,
body .editor-styles-wrapper .is-style-cta .wp-block-button__link:active,
body .editor-styles-wrapper .is-style-cta .wp-block-button__link:focus,
body .editor-styles-wrapper .is-style-cta .wp-block-button__link[aria-selected="true"] {
	background: #E37C92;
	border-color: #994F5F;
	text-shadow: #960423 0px 0px 8px;
}

body .editor-styles-wrapper a {
	color: currentColor;
	text-decoration-color: #F3889E;
	text-decoration-thickness: 2px;
}

body .editor-styles-wrapper a:visited {
	color: currentColor;
}

body .editor-styles-wrapper a:hover, body .editor-styles-wrapper a:focus, body .editor-styles-wrapper a:active {
	color: #F3889E;
	text-decoration: none;
}

body .editor-styles-wrapper a:focus {
	outline: thin dotted;
}

body .editor-styles-wrapper a:hover, body .editor-styles-wrapper a:active {
	outline: 0;
}

body .editor-styles-wrapper ul,
body .editor-styles-wrapper ol {
	margin: 1.5em 1.5em;
	padding-left: 0;
}

body .editor-styles-wrapper ul li::marker,
body .editor-styles-wrapper ol li::marker {
	color: #2A5B7A;
}

body .editor-styles-wrapper ul {
	list-style: revert;
}

body .editor-styles-wrapper ol {
	list-style: decimal;
}

body .editor-styles-wrapper ol li::marker {
	font-family: latoblack, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper ol > li > ol {
	list-style: lower-alpha;
}

body .editor-styles-wrapper ol > li > ol > li > ol {
	list-style: lower-roman;
}

body .editor-styles-wrapper ol > li > ol > li > ol > li > ol {
	list-style: decimal;
}

body .editor-styles-wrapper ol > li > ol > li > ol > li > ol li::marker {
	font-family: latosemibold, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper ul > li > ul li::marker {
	font-family: latoblack, "Helvetica Neue", sans-serif;
	font-size: 1.125em;
}

body .editor-styles-wrapper li > ul,
body .editor-styles-wrapper li > ol {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	margin-left: 1.5em;
}

body .editor-styles-wrapper dt {
	font-family: latoblack, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper dd {
	margin: 1.5em 1.5em;
}

body .editor-styles-wrapper embed,
body .editor-styles-wrapper iframe,
body .editor-styles-wrapper object {
	max-width: 100%;
}

body .editor-styles-wrapper img {
	height: auto;
	max-width: 100%;
}

body .editor-styles-wrapper figure {
	margin: 1em 0;
}

body .editor-styles-wrapper p {
	margin-bottom: 1.5em;
}

body .editor-styles-wrapper p.small {
	font-size: 0.8em;
}

body .editor-styles-wrapper dfn,
body .editor-styles-wrapper cite,
body .editor-styles-wrapper em,
body .editor-styles-wrapper i {
	font-style: italic;
}

body .editor-styles-wrapper blockquote {
	margin: 1.5em 1.5em;
	position: relative;
}

body .editor-styles-wrapper blockquote::before {
	content: '"';
	font-family: latoblack, "Helvetica Neue", sans-serif;
	color: #2A5B7A;
	position: absolute;
	left: -0.75em;
	font-size: 2em;
	top: -0.125em;
	line-height: 1em;
	font-style: italic;
}

body .editor-styles-wrapper blockquote p:last-of-type {
	position: relative;
}

body .editor-styles-wrapper blockquote p:last-of-type::after {
	font-family: latoblack, "Helvetica Neue", sans-serif;
	content: '"';
	color: #2A5B7A;
	font-size: 2em;
	line-height: 0.5em;
	font-style: italic;
	transform-origin: 0 0;
	transform: rotateY(180deg);
	position: absolute;
	margin-left: 0.75em;
	bottom: 0.15em;
}

body .editor-styles-wrapper blockquote cite {
	position: relative;
	margin-left: 1em;
}

body .editor-styles-wrapper blockquote cite::before {
	content: '';
	font-family: latoblack, "Helvetica Neue", sans-serif;
	color: #2A5B7A;
	line-height: 1em;
	margin-right: 0.125em;
	font-style: initial;
	border-bottom: 2px solid #2A5B7A;
	width: 2em;
	position: absolute;
	left: -2.25em;
	top: -15%;
	height: 1em;
}

body .editor-styles-wrapper address {
	margin: 0 0 1.5em;
}

body .editor-styles-wrapper pre {
	background: #eee;
	font-family: latoregular, "Helvetica Neue", sans-serif;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

body .editor-styles-wrapper code,
body .editor-styles-wrapper kbd,
body .editor-styles-wrapper tt,
body .editor-styles-wrapper var {
	font-family: latoregular, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper abbr,
body .editor-styles-wrapper acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

body .editor-styles-wrapper mark,
body .editor-styles-wrapper ins {
	background: #fff9c0;
	text-decoration: none;
}

body .editor-styles-wrapper big {
	font-size: 125%;
}

body .editor-styles-wrapper h1,
body .editor-styles-wrapper h2,
body .editor-styles-wrapper h3,
body .editor-styles-wrapper h4,
body .editor-styles-wrapper h5,
body .editor-styles-wrapper h6 {
	clear: both;
	font-family: latoblack, "Helvetica Neue", sans-serif;
	color: #2A5B7A;
}

body .editor-styles-wrapper h1 a,
body .editor-styles-wrapper h2 a,
body .editor-styles-wrapper h3 a,
body .editor-styles-wrapper h4 a,
body .editor-styles-wrapper h5 a,
body .editor-styles-wrapper h6 a {
	text-decoration: none;
}

body .editor-styles-wrapper .wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

body .editor-styles-wrapper .wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body .editor-styles-wrapper .wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

body .editor-styles-wrapper .wp-caption-text {
	text-align: center;
}

body .editor-styles-wrapper .gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

body .editor-styles-wrapper .gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

body .editor-styles-wrapper .gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

body .editor-styles-wrapper .gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

body .editor-styles-wrapper .gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

body .editor-styles-wrapper .gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

body .editor-styles-wrapper .gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

body .editor-styles-wrapper .gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

body .editor-styles-wrapper .gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

body .editor-styles-wrapper .gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

body .editor-styles-wrapper .gallery-caption {
	display: block;
}

body .editor-styles-wrapper .page-content .wp-smiley,
body .editor-styles-wrapper .entry-content .wp-smiley,
body .editor-styles-wrapper .comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

body .editor-styles-wrapper .custom-logo-link {
	display: inline-block;
}

body .editor-styles-wrapper .screen-array {
	position: relative;
}

body .editor-styles-wrapper .screen-array li {
	height: unset !important;
	position: relative;
}

body .editor-styles-wrapper .screen-array li a {
	z-index: 1;
	background: linear-gradient(to left, #000, #858686, #000);
	padding: 0.625em 0.475em;
	border-radius: 0.375rem;
}

body .editor-styles-wrapper .screen-array li a::after {
	content: '';
	background: linear-gradient(#000, #858686, #000);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 2;
	border-radius: 0.375rem;
}

body .editor-styles-wrapper .screen-array li a:hover, body .editor-styles-wrapper .screen-array li a:focus {
	background: linear-gradient(to left, #000, #4185a8, #000);
}

body .editor-styles-wrapper .screen-array li a:hover::after, body .editor-styles-wrapper .screen-array li a:focus::after {
	background: linear-gradient(#000, #4185a8, #000);
}

body .editor-styles-wrapper .screen-array li a .parvus-zoom__indicator {
	left: 0;
	border-radius: 0.375rem !important;
}

body .editor-styles-wrapper .screen-array li img {
	z-index: 3;
	position: relative;
}

body .editor-styles-wrapper .screen-array .desktop {
	width: 100%;
}

body .editor-styles-wrapper .screen-array .tablet, body .editor-styles-wrapper .screen-array .ipad {
	font-size: 0.75em;
	width: 30%;
	margin-top: -6em;
	z-index: 2;
	margin-left: 4em;
}

body .editor-styles-wrapper .screen-array .mobile, body .editor-styles-wrapper .screen-array .iphone {
	font-size: 0.5em;
	width: 15%;
	z-index: 2;
	position: absolute;
	right: 22%;
	bottom: 5em;
}

body .editor-styles-wrapper .screen-array li {
	background: linear-gradient(to left, #000, #858686, #000);
	padding: 0.625em 0.475em;
	border-radius: 0.375em;
}

body .editor-styles-wrapper .screen-array li::after {
	content: '';
	background: linear-gradient(#000, #858686, #000);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

body .editor-styles-wrapper .screen-array li.ipad, body .editor-styles-wrapper .screen-array li.iphone {
	z-index: 3;
}

body .editor-styles-wrapper html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body .editor-styles-wrapper body {
	margin: 0;
}

body .editor-styles-wrapper main {
	display: block;
}

body .editor-styles-wrapper h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

body .editor-styles-wrapper hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

body .editor-styles-wrapper pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

body .editor-styles-wrapper a {
	background-color: transparent;
}

body .editor-styles-wrapper abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

body .editor-styles-wrapper b,
body .editor-styles-wrapper strong {
	font-weight: bolder;
}

body .editor-styles-wrapper code,
body .editor-styles-wrapper kbd,
body .editor-styles-wrapper samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

body .editor-styles-wrapper small {
	font-size: 80%;
}

body .editor-styles-wrapper sub,
body .editor-styles-wrapper sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

body .editor-styles-wrapper sub {
	bottom: -0.25em;
}

body .editor-styles-wrapper sup {
	top: -0.5em;
}

body .editor-styles-wrapper img {
	border-style: none;
}

body .editor-styles-wrapper button,
body .editor-styles-wrapper input,
body .editor-styles-wrapper optgroup,
body .editor-styles-wrapper select,
body .editor-styles-wrapper textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

body .editor-styles-wrapper button,
body .editor-styles-wrapper input {
	overflow: visible;
}

body .editor-styles-wrapper button,
body .editor-styles-wrapper select {
	text-transform: none;
}

body .editor-styles-wrapper button,
body .editor-styles-wrapper [type="button"],
body .editor-styles-wrapper [type="reset"],
body .editor-styles-wrapper [type="submit"] {
	-webkit-appearance: button;
}

body .editor-styles-wrapper button::-moz-focus-inner,
body .editor-styles-wrapper [type="button"]::-moz-focus-inner,
body .editor-styles-wrapper [type="reset"]::-moz-focus-inner,
body .editor-styles-wrapper [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

body .editor-styles-wrapper fieldset {
	padding: 0.35em 0.75em 0.625em;
}

body .editor-styles-wrapper legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

body .editor-styles-wrapper progress {
	vertical-align: baseline;
}

body .editor-styles-wrapper textarea {
	overflow: auto;
}

body .editor-styles-wrapper [type="checkbox"],
body .editor-styles-wrapper [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

body .editor-styles-wrapper [type="number"]::-webkit-inner-spin-button,
body .editor-styles-wrapper [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

body .editor-styles-wrapper [type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

body .editor-styles-wrapper [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

body .editor-styles-wrapper ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

body .editor-styles-wrapper details {
	display: block;
}

body .editor-styles-wrapper summary {
	display: list-item;
}

body .editor-styles-wrapper template {
	display: none;
}

body .editor-styles-wrapper [hidden] {
	display: none;
}

body .editor-styles-wrapper *,
body .editor-styles-wrapper *::before,
body .editor-styles-wrapper *::after {
	box-sizing: inherit;
}

body .editor-styles-wrapper html {
	box-sizing: border-box;
}

body .editor-styles-wrapper .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

body .editor-styles-wrapper .screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #000;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

body .editor-styles-wrapper #primary[tabindex="-1"]:focus {
	outline: 0;
}

body .editor-styles-wrapper .alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

body .editor-styles-wrapper .alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

body .editor-styles-wrapper .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

@media screen and (min-width: 1100px) {
	body .editor-styles-wrapper .alignwide {
		max-width: 150ch;
		width: calc(100% + 21.75rem);
		margin-left: -10.875rem;
	}
}

@media screen and (min-width: 1280px) {
	body .editor-styles-wrapper .alignwide {
		max-width: 150ch;
		width: calc(100% + 29.75rem);
		margin-left: -14.875rem;
	}
}

body .editor-styles-wrapper .alignfull {
	width: calc(100% + 2em);
	margin-left: -1em;
}

@media screen and (min-width: 1100px) {
	body .editor-styles-wrapper .alignfull {
		width: calc(100% + 4em);
		margin-left: -2em;
	}
}

@media screen and (min-width: 1100px) {
	body .editor-styles-wrapper .alignfull {
		width: 99.375vw;
		margin-left: calc(1em - (((100vw - 100%) / 2) + 1em));
		padding: 1em;
	}
}

body .editor-styles-wrapper .content-wrap {
	padding-left: 1em;
	padding-right: 1em;
}

@media screen and (min-width: 600px) {
	body .editor-styles-wrapper .content-wrap {
		padding-left: 2em;
		padding-right: 2em;
		max-width: 150ch;
	}
}

@media screen and (min-width: 1100px) {
	body .editor-styles-wrapper .content-wrap {
		padding-left: 5.875em;
		padding-right: 5.875em;
		margin: 0 auto;
		max-width: 150ch;
	}
}

body .editor-styles-wrapper .is-style-font-bold {
	font-family: latoblack, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper .is-style-font-semibold {
	font-family: latosemibold, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper .is-style-font-title {
	font-family: latoblack, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper .is-style-font-thin {
	font-family: latothin, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper .is-style-font-regular {
	font-family: latoregular, "Helvetica Neue", sans-serif;
}

body .editor-styles-wrapper .is-style-decorated {
	position: relative;
}

body .editor-styles-wrapper .is-style-decorated::before {
	content: '';
	width: 64%;
	left: 18%;
	height: 1px;
	position: absolute;
	border-top: 1.5px solid #2A5B7A;
	top: calc(50% + 0.75px);
}

body .editor-styles-wrapper .overflow-hidden {
	overflow: hidden;
}

body .editor-styles-wrapper .margin-0, body .editor-styles-wrapper .margin-top-0 {
	margin-top: 0;
}

body .editor-styles-wrapper .margin-0, body .editor-styles-wrapper .margin-bottom-0 {
	margin-bottom: 0;
}

@media screen and (min-width: 782px) {
	body .editor-styles-wrapper .sticky-top {
		position: sticky;
		top: 3.5em;
	}
}

@media screen and (min-width: 782px) {
	body .editor-styles-wrapper .desktop-row-reverse {
		flex-direction: row-reverse;
	}
}

/*# sourceMappingURL=gutenberg.css.map */