.homepage-hero {
    background: $color__accent;
    color: #fff;
    height: calc(100vh + 5em);
    padding-top: 9.75em;
    margin-top: -9em;
    position: relative;
    position: sticky;
    top: 0;

    h1 {
        color: #fff;
        margin-top: 0;
        text-shadow: 3px 2px 1px rgba(13, 62, 90, 0.93);
        font-size: 2.25em;
    }

    p {
        font-size: 0.9em;
    }

    .homepage-content {

        > div:first-child {
            width: 38%;
        }
    }
}