.gallery-grid.screen-array {

    position: relative;
    display: block;

    .gallery-image {
        height: unset !important;
        position: relative;
       

        a {
            z-index: 1;
            background: linear-gradient(to left, #000, #858686, #000);
            padding: 0.325em 0.25em;
            border-radius: 0.25rem;
            border-radius: 5px;

            @media screen and (min-width: 480px) {
                padding: 0.625em 0.475em;
            }

            &::after {
                content: '';
                background: linear-gradient(#000, #858686, #000);
                width: 100%;
                height: 100%;
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.5;
                z-index: 2;
                border-radius: 0.375rem;
            }

            &:hover, &:focus {
                background: linear-gradient(to left, #000, #4185a8, #000);

                &::after {
                    background: linear-gradient(#000, #4185a8, #000);
                }
            }

            .parvus-zoom__indicator {
                left: 0;
                border-radius: 0.375rem !important;
            }


        }

        a:focus {
            outline: none;
        }

        img {
            z-index: 3;
            position: relative;
        }
    }

    .desktop {
        width: 100%;
        aspect-ratio: 1 / 0.45;
    }

    .tablet, .ipad {
        font-size: 0.75em;
        width: 30%;
        margin-top: -6em;
        z-index: 2;
        margin-left: 4em;
        aspect-ratio: 1 / 1.33;
    }

    .mobile, .iphone {
        font-size: 0.5em;
        width: 15%;
        z-index: 2;
        position: absolute;
        right: 22%;
        bottom: 5em;
        aspect-ratio: 1 / 1.75;
    }
}