@import "../variables/colors";
@import "../variables/typography";

.services-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: calc(109% + 1em);
    margin-left: calc(-4.5% - 0.5em);

    .service {

        padding-top: 1em;
        width: 50%;
        position: relative;

        .tooltip-trigger {
            background: transparent; 
            border: none;
            position: relative;

            &:hover, &:focus,  &:focus-within  {
                background: transparent;
                border: none;
                outline: none;

                > svg {
                   // outline: 2px dotted $color__accent;
                   // outline-offset: 1px;
                }

                + .tooltip {
                    visibility: visible;
                }
            }

            > svg {
                border-radius: 50%;
                width: 100%;
                height: auto;
                padding: 0.5em;
            }
    
            > h3 {
                color: #333;
                font-family: $font__semibold;
                text-align: center;
                margin-top: 0;
                font-weight: unset;
            }
        }

        @media screen and (min-width: 480px) {
            width: 30%;
        }
    }

        .tooltip {
            position: absolute;
            background: white;
            text-align: left;
            width: max-content;
            left: 0;
            bottom: -58%;
            padding: 2em;
            padding-left: 0;
            font-size: 0.8em;
            border: 2px solid $color__accent;
            visibility: hidden;
            color: #333;
            z-index: 9;
            h3 {
                padding-left: 2.25em;
                margin-bottom: -1em;
                margin-top: 0;
                font-size: 1.5em;
            }

            .tooltip-content {
                display: flex;
                align-items: center;
                >svg {
                    padding: 1em;
                }
                > div {
                    width: 44ch;
                }
            }

            &.d-r {
                left: unset;
                right: 0;
            }

            &:hover, &:focus,  &:focus-within  {
                visibility: visible;
            }

        }
    }

/* Utility classes for icon SVGs*/

.str-accent { stroke: $color__accent; }
.str-white { stroke: #fff }
.str-bk { stroke: #333 }
.fill-accent { fill:  $color__accent; }
.fill-white { fill:#fff; }
.fill-bk { fill: #333; }
.fr-nz {fill-rule: non-zero; }
.fill-none {fill:none }

.strw-649-488 { stroke-width: 694.488; }
.strw-6666-54 { stroke-width: 6666.54;}
.strw-300 { stroke-width: 300;}
.strw-3333-07 { stroke-width: 3333.07;}


.fnt0 {font-weight:900;font-size:97682.7px;font-family: $font__bold;}

#portion { stroke: $color__background-body;}
#heart { fill: $color__link-hover;}

.wda-str0 {stroke:#373435;stroke-width:694.488}
.wda-str4 {stroke:#33617D;stroke-width:694.488}
.wda-str3 {stroke:#33617D;stroke-width:3333.07;stroke-linecap:round}
.wda-str2 {stroke:#33617D;stroke-width:1333.07;stroke-linecap:round}
.wda-str1 {stroke:#33617D;stroke-width:2666.54;stroke-linecap:round}
.wda-str6 {stroke:#33617D;stroke-width:1666.54;stroke-linecap:round}
.wda-str7 {stroke:#33617D;stroke-width:666.535;stroke-linecap:round}
.wda-str5 {stroke:#33617D;stroke-width:694.488;stroke-dasharray:2777.952756 3472.440945 2777.952756 3472.440945 2777.952756 3472.440945 694.488189 3472.440945 694.488189 3472.440945}
.wda-str8 {stroke:#33617D;stroke-width:999.606;stroke-dasharray:4998.031496 4998.031496 9996.062992 4998.031496}
.wda-str9 {stroke:#33617D;stroke-width:666.535}