button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
.wp-block-button__link {
	border: 1.5px solid;
	border-color: $color__accent;
	border-radius: 2px;
	background: #fff;
	color: $color__accent;
	font-family: $font__semibold;
	line-height: 1.3;
	text-decoration: none;
	padding: 10px 16px;
	cursor: pointer;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
	box-sizing: border-box;

	&:hover, 
	&:active,
	&:focus-visible,
	&[aria-selected="true"] {
		color: $color__accent;
		background: #CAE7F6;	
	}

	&:visited {
		color: $color__accent;     
	}

	svg {
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		fill: transparent;
		stroke: currentColor;
		vertical-align: center;
		vertical-align: middle;
		vertical-align: -0.425em;	
	}
}

/*button[role="tab"] {
	background: #92dcdd;
	&:hover, 
	&:active,
	&:focus,
	&[aria-selected="true"] {
		background: #30bb9c;
	}
}*/

input[type="button"].outline,
input[type="reset"].outline,
input[type="submit"].outline,
button.outline,
.is-style-outline .wp-block-button__link {
	background: $color__accent !important;
	color: $color__background-body !important;
	border: 1.5px solid $color__accent;

	&:hover, 
	&:active,
	&:focus-visible,
	&[aria-selected="true"] {
		color: $color__background-body !important;
		color: $color__accent;
		background: #143C56 !important;
		
	}

}