a:not(.button, .wp-block-button__link) {
	color: $color__link;
	text-decoration-color: $color__link-hover;
	text-decoration-thickness: 2px;

	&:visited {
		color: $color__link-visited;
	}		

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}

	&:focus {
		//outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* SVG Icons (Social media) */

a.icon {
	text-decoration: none;
	line-height: 0;
	display: inline-block;
	width: 1.375em;
	height: 1.375em;
	margin-right: 0.375em;

	&:last-of-type {
		margin-right: 0;
	}
}

a.icon svg {
	
	width: 100%;
	height: 100%;

	path {
		fill: currentColor;
	}
}
