body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

*:focus {
	outline: 2px dotted $color__accent;
	outline-offset: 1px;
}

html {
	scroll-behavior: smooth;
}