header.site-header {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 9em;
    z-index: 99;

    .logo {
        width: 6em;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .nav-bar {
        width: 2em;
        height: 0.4em;
        margin-bottom: 0.125em;
        display: block;
        position: relative;
        transition: 0.2s;
        border-top: 3px solid black;
    }

    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
        z-index: 9999;
    }

    &[aria-expanded="true"] {
        .nav-bar {
            &:nth-child(2) {
                transform: rotate(45deg) scaleX(1.125);
                transform-origin: 1px 8px;
                transition: 0.2s;
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:nth-child(4) {
                transform: rotate(-45deg) scaleX(1.125);
                transform-origin: 5px -4px;
                transition: 0.2s;
            }
        }
    }
}

