header.site-header {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 9em;
    z-index: 99;

    .logo {
        width: 6em;
        position: relative;
        z-index: 9999;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .nav-bar {
        width: 2em;
        height: 0.4em;
        margin-bottom: 0.125em;
        display: block;
        position: relative;
       // transition: 0.2s ease-in;
        border-top: 3px solid black;
        transform: rotate(1.5deg);

        transition: opacity 0.2s ease-in 0.2s;        
    }

    .main-navigation.untoggled {
        
       .nav-bar {

            &:nth-child(2) {
             
                animation: nav-bar-top-rvs 0.4s ease-in forwards;
            }
            &:nth-child(4) {
                animation: nav-bar-bottom-rvs 0.4s ease-in forwards;    
            }
        }
    }

    
    &.homepage *:focus {
        outline: 2px dotted #fff;
    }

    &.homepage {
        position: sticky;
        top: 0;
        color: #fff;
        z-index: 9;

        .submenu-toggle, .submenu-toggle:focus, .submenu-toggle:hover {
            color: #fff !important;
        }
    }

    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
        z-index: 9999;
        position: relative;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px dotted #fff;
        }

        &[aria-expanded="true"] {
            .nav-bar {
                &:nth-child(2) {
                   // transform: rotate(45deg) scaleX(1.125);
                   // transform-origin: 8px 7px;
                animation: nav-bar-top 0.4s ease-in forwards;
              //  transform: translateY(0.525em) rotate(45deg);
                transition: 0.2s ease-in;
                transform-origin: 16px 3px;
                }
                &:nth-child(3) {
                   opacity: 0;
                   transition: opacity 0s;
                }
                &:nth-child(4) {
                    animation: nav-bar-bottom 0.4s ease-in forwards;
                    transform-origin: top;
                    //transform: translateY(-0.525em) rotate(-45deg);
                    transition: 0.2s ease-in;
                }
            }
        }
    }
    
}

body:not(.overflow-hidden) header.site-header.homepage {

    .logo svg path, .logo svg polygon {
        fill: #fff;
    }

    .nav-bar {
        border-color: #fff;
    }
}

@keyframes nav-bar-top {

    0% {
        transform: none;
    }

    50% {
        transform: translateY(0.525em);
    }
    100% {
        transform: translateY(0.525em) rotate(45deg);
    }
}
    
@keyframes nav-bar-bottom {

    50% {
        transform: translateY(-0.525em);
    }
    100% {
        transform: translateY(-0.525em) rotate(-45deg);
    }
}

@keyframes nav-bar-top-rvs {

    0% {
        transform: translateY(0.525em) rotate(45deg);
    }

    50% {
        transform: translateY(0.525em) rotate(1.5deg);
    }
    100% {
        transform: rotate(1.5deg);
    }
}

@keyframes nav-bar-bottom-rvs {

    0% {
        transform: translateY(-0.525em) rotate(-45deg);
    }

    50% {
        transform: translateY(-0.525em) rotate(1.5deg);
    }
    100% {
        transform: rotate(1.5deg);
    }
}

