.main-navigation {
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 53%;
	max-width: 70%;

	ul {
		visibility: hidden;
		margin: 0;
		padding-left: 0;
		gap: 1em;
		transition: 0.25s ease-in;
		list-style: none;

		@media screen and (min-width: 600px) {
			.sub-menu {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				background: $color__accent-dark;
				padding-left: 1em;
				padding-right: 1em;
				padding-top: 1em;
				padding-bottom: 1em;
				color: white;

				ul {
					display: none;
				}

				li {

					&:hover > ul,
					&.focus > ul {
						display: block;
						left: auto;
					}
				}

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
	}

	li {
		position: relative;
		font-family: $font__semibold;
		margin-bottom: 0;
		padding-bottom: 0.5em;
	}

	a {
		display: block;
		text-decoration: none;
		font-size: 0.9em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@media screen and (min-width: 600px) {
		top: 63%;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	visibility: visible;
}

@media screen and (max-width: (37.49em)) {

	.main-navigation #primary-menu.nav-menu .sub-menu {
		display: none;
		visibility: visible !important;
		font-size: 0.9em;
		padding-left: 1em !important;
		margin-top: 1em;
		list-style: circle;

		li:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.menu-menu-container {
		position: fixed;
		display: flex;
		align-items: space-between;
		transition: 0.25s ease-in;
		z-index: 999;
		height: 100vh;
		width: 100%;
		right: 0;
		top: 0;
		padding-right: 1em;
		pointer-events: none;
		z-index: -1;
	}

	.main-navigation.toggled .menu-menu-container {
		pointer-events: auto;
		background-color: $color__accent-light;
		transition: 0.15s ease-in;
	}

	#primary-menu .nav-menu,
	#primary-menu.nav-menu  {
		position: absolute;
		width: max-content;
		transition: 0.25s;
		padding: 1em;
		padding-top: 8em;
		font-size: 1.25em;
		margin-top: 1em;
		color: #000;
		z-index: 999;
		transform: translateY(1em);
		opacity: 0;
		transition: 0.25s ease-in;

		li {
			margin-bottom: 1.5em;
			button {
				border: 0 !important;
				background-color: transparent !important;
				font-family: $font__bold;
				color: $color__accent !important;
				padding: 0;
				margin-left: 1em;

				&:hover, &:focus {
					color: $color__accent !important;
					background-color: transparent !important;
				}
			}
		}
	}
}

.main-navigation.toggled #primary-menu .nav-menu,
.main-navigation.toggled #primary-menu.nav-menu  {
	transition: 0.35s ease-in;
	transform: translateY(0);
	opacity: 1;
}

.social-media {
	margin: 0 auto;
}

@media screen and (min-width: 600px) {

	#primary-menu {
		li button {
			display: none;
		}
	}

	.main-navigation {
		right: 2em;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;
		visibility: visible;
	}
}

@media screen and (min-width: 1100px) {
	.main-navigation {
		right: 5.875em;
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
