:root {
	--submenu-height: auto;
}

.main-navigation {
	display: inline-block;
	max-width: 70%;

	ul {
		visibility: hidden;
		margin: 0;
		padding-left: 0;
		gap: 1em;
		transition: 0.25s ease-in;
		list-style: none;

		.sub-menu {
			visibility: hidden;
			width: max-content;
			height: 0;
			padding-left: 1em;
			padding-right: 1em;
			flex-direction: column;
			flex-wrap: nowrap;
			overflow-y: hidden;
			transition: 0.5s ease-in;

			&.offscreen {
				visibility: visible;
				position: fixed;
				height: min-content !important;
				padding-bottom: 0 !important;
				padding-top: 0 !important;
				left: -9999px;
			}
		}

		.submenu-toggle {
			border: 0 !important;
			background-color: transparent !important;
			font-family: $font__bold;
			color: $color__accent !important;
			padding: 0;
			margin-left: 0.25em;
			display: flex;
			align-items: center;
			z-index: 9;

			&:hover, &:focus {
				color: $color__accent !important;
				background-color: transparent !important;
			}

			svg {
				width: 0.75em;
				height: 0.75em;
				transition: 0.25s ease-out;
				path, polygon {
					fill: currentColor;
				}
			}

			&[aria-expanded="true"] {
				svg {
					transform: rotate(-180deg);
				}
			}
		}

		.sub-menu.toggled:not(.offscreen) {
			visibility: visible;
			height: var(--submenu-height);
			padding-top: 1em;
			padding-bottom: 1em;
			z-index: 99;
		}

		@media screen and (min-width: 600px) {
			.sub-menu {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				position: absolute;
				top: 100%;
				background: $color__accent-dark;
				color: white;

				ul {
					display: none;
				}
			}

			li:hover > ul {
				visibility: visible;
				height: var(--submenu-height);
				padding-top: 1em;
				padding-bottom: 1em;
				z-index: 99;
			}
		}
	}

	li {
		position: relative;
		font-family: $font__semibold;
		margin-bottom: 0;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		width: max-content;
		width: -moz-fit-content;

		a {
			z-index: 9;
			border-radius: 3px;
		}

		.flex {
			align-items: center;
		}

		a[href="#"], a:not([href]) {
			position: relative;
			padding-right: 1.5em;

			~ .submenu-toggle {
				position: absolute;
				height: 100%;
				margin-left: 0;
				right: 0;
				padding-left: calc(100% - 0.75em);
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-size: 0.9em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .nav-menu {
	visibility: visible;
}

@media screen and (max-width: (37.49em)) {

	.main-navigation #primary-menu.nav-menu .sub-menu {
		font-size: 0.9em;
		border-left: 1px solid $color__accent;

		ul li .flex {
			width: max-content;
		}

		li:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		&.toggled:not(.offscreen) {
			margin-top: 0.5em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	.main-navigation > div:first-of-type {
		position: fixed;
		display: flex;
		align-items: space-between;
		transition: 0.25s ease-in;
		z-index: 999;
		height: 100vh;
		width: 100%;
		right: 0;
		top: 0;
		padding-right: 1em;
		pointer-events: none;
	}

	.main-navigation.toggled > div:first-of-type {
		pointer-events: auto;
		background-color: $color__accent-light;
		transition: 0.15s ease-in;
	}

	#primary-menu .nav-menu,
	#primary-menu.nav-menu  {
		position: absolute;
		width: max-content;
		transition: 0.25s ease-in;
		padding: 1em;
		padding-top: 8em;
		font-size: 1.25em;
		margin-top: 1em;
		//Maybe delete?
		color: #000;
		z-index: 999;
		transform: translateY(1em);
		opacity: 0;
		transition: 0.25s ease-in;

		li {
			margin-bottom: 0.5em;
			color: $color__text-main;
		}
	}
}

.main-navigation.toggled #primary-menu .nav-menu,
.main-navigation.toggled #primary-menu.nav-menu  {
	transition: 0.35s ease-in;
	transform: translateY(0);
	opacity: 1;
}

.social-media {
	margin: 0 auto;
}

@media screen and (min-width: 600px) {

	.main-navigation {
		right: 2em;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		visibility: visible;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
