header.site-header {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    .logo {
        svg {
            width: 100%;
            height: 100%;

            path, polygon {
                fill: currentColor;
            }
        }
    }

    .nav-bar {
        width: 1.5em;
        height: 0.3em;
        margin-bottom: 0.125em;
        display: block;
        background: #000;
        border-radius: 22%;
    }

    .menu-toggle {
        background: none;
        border: none;
        padding: 0;
    }

    &.homepage {
        
        background: $color__accent;
        color: #fff;

        *:focus {
            outline: 2px dotted $color__background-body;
        }

        .nav-bar {
            background: #fff;
        }

    }
}

